include README
include gpl-3.0.txt
recursive-include MathHub *
recursive-include bin *
recursive-include docs *
recursive-include ext *
recursive-include lmh *
recursive-include logs *
recursive-include sty *
recursive-include styles *